realtimelandscape/_extracted/Contract Form Foundation 4.12.12/myschema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2003/myXSD/2012-01-18T13:59:28" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:my="http://schemas.microsoft.com/office/infopath/2003/myXSD/2012-01-18T13:59:28" xmlns:xd="http://schemas.microsoft.com/office/infopath/2003" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="myFields">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:ProjectName" minOccurs="0"/>
				<xsd:element ref="my:ProjectID" minOccurs="0"/>
				<xsd:element ref="my:RoundTrip" minOccurs="0"/>
				<xsd:element ref="my:ProjectDisplayName" minOccurs="0"/>
				<xsd:element ref="my:strFilename" minOccurs="0"/>
				<xsd:element ref="my:numID" minOccurs="0"/>
				<xsd:element ref="my:ContractID" minOccurs="0"/>
				<xsd:element ref="my:CreatedDate" minOccurs="0"/>
				<xsd:element ref="my:EstimateGroup" minOccurs="0"/>
				<xsd:element ref="my:TakeOff" minOccurs="0"/>
				<xsd:element ref="my:ShowActivities" minOccurs="0"/>
			</xsd:sequence>
			<xsd:anyAttribute processContents="lax" namespace="http://www.w3.org/XML/1998/namespace"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProjectName" type="xsd:string"/>
	<xsd:element name="ProjectID" type="xsd:string"/>
	<xsd:element name="RoundTrip" type="xsd:string"/>
	<xsd:element name="ProjectDisplayName" type="xsd:string"/>
	<xsd:element name="strFilename" type="xsd:string"/>
	<xsd:element name="numID" nillable="true" type="xsd:double"/>
	<xsd:element name="ContractID" nillable="true" type="xsd:double"/>
	<xsd:element name="CreatedDate" nillable="true" type="xsd:date"/>
	<xsd:element name="EstimateGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:PricingTable" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:GeneralLaborCost" minOccurs="0"/>
				<xsd:element ref="my:GeneralOverheadAndProfit" minOccurs="0"/>
				<xsd:element ref="my:TechnicalPricingTable" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:ContractTotals" minOccurs="0"/>
				<xsd:element ref="my:GeneralVisitCalculations" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PricingTable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Activity" minOccurs="0"/>
				<xsd:element ref="my:Quantity" minOccurs="0"/>
				<xsd:element ref="my:Unit" minOccurs="0"/>
				<xsd:element ref="my:MH" minOccurs="0"/>
				<xsd:element ref="my:JanFreq" minOccurs="0"/>
				<xsd:element ref="my:FebFreq" minOccurs="0"/>
				<xsd:element ref="my:MarFreq" minOccurs="0"/>
				<xsd:element ref="my:AprFreq" minOccurs="0"/>
				<xsd:element ref="my:MayFreq" minOccurs="0"/>
				<xsd:element ref="my:JunFreq" minOccurs="0"/>
				<xsd:element ref="my:JulFreq" minOccurs="0"/>
				<xsd:element ref="my:AugFreq" minOccurs="0"/>
				<xsd:element ref="my:SepFreq" minOccurs="0"/>
				<xsd:element ref="my:OctFreq" minOccurs="0"/>
				<xsd:element ref="my:NovFreq" minOccurs="0"/>
				<xsd:element ref="my:DecFreq" minOccurs="0"/>
				<xsd:element ref="my:TotalFreq" minOccurs="0"/>
				<xsd:element ref="my:TotalMH" minOccurs="0"/>
				<xsd:element ref="my:MaterialMarkup" minOccurs="0"/>
				<xsd:element ref="my:UnitPrice" minOccurs="0"/>
				<xsd:element ref="my:AnnualPrice" minOccurs="0"/>
				<xsd:element ref="my:LaborPrice" minOccurs="0"/>
				<xsd:element ref="my:MaterialCost" minOccurs="0"/>
				<xsd:element ref="my:MaterialUnitPrice" minOccurs="0"/>
				<xsd:element ref="my:MaterialAnnualCost" minOccurs="0"/>
				<xsd:element ref="my:LaborAnnualCost" minOccurs="0"/>
				<xsd:element ref="my:LaborUnitPrice" minOccurs="0"/>
				<xsd:element ref="my:JanMH" minOccurs="0"/>
				<xsd:element ref="my:FebMH" minOccurs="0"/>
				<xsd:element ref="my:MarMH" minOccurs="0"/>
				<xsd:element ref="my:AprMH" minOccurs="0"/>
				<xsd:element ref="my:MayMH" minOccurs="0"/>
				<xsd:element ref="my:JunMH" minOccurs="0"/>
				<xsd:element ref="my:JulMH" minOccurs="0"/>
				<xsd:element ref="my:AugMH" minOccurs="0"/>
				<xsd:element ref="my:SepMH" minOccurs="0"/>
				<xsd:element ref="my:OctMH" minOccurs="0"/>
				<xsd:element ref="my:NovMH" minOccurs="0"/>
				<xsd:element ref="my:DecMH" minOccurs="0"/>
				<xsd:element ref="my:ActivityDisplayName" minOccurs="0"/>
				<xsd:element ref="my:UnitCategory" minOccurs="0"/>
				<xsd:element ref="my:UnitMultiplier" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Activity" type="xsd:string"/>
	<xsd:element name="Quantity" nillable="true" type="xsd:double"/>
	<xsd:element name="Unit" type="xsd:string"/>
	<xsd:element name="MH" nillable="true" type="xsd:double"/>
	<xsd:element name="JanFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="FebFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="MarFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="AprFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="MayFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="JunFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="JulFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="AugFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="SepFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="OctFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="NovFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="DecFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalMH" nillable="true" type="xsd:double"/>
	<xsd:element name="MaterialMarkup" nillable="true" type="xsd:double"/>
	<xsd:element name="UnitPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="AnnualPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="LaborPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="MaterialCost" nillable="true" type="xsd:double"/>
	<xsd:element name="MaterialUnitPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="MaterialAnnualCost" nillable="true" type="xsd:double"/>
	<xsd:element name="LaborAnnualCost" nillable="true" type="xsd:double"/>
	<xsd:element name="LaborUnitPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="JanMH" nillable="true" type="xsd:double"/>
	<xsd:element name="FebMH" nillable="true" type="xsd:double"/>
	<xsd:element name="MarMH" nillable="true" type="xsd:double"/>
	<xsd:element name="AprMH" nillable="true" type="xsd:double"/>
	<xsd:element name="MayMH" nillable="true" type="xsd:double"/>
	<xsd:element name="JunMH" nillable="true" type="xsd:double"/>
	<xsd:element name="JulMH" nillable="true" type="xsd:double"/>
	<xsd:element name="AugMH" nillable="true" type="xsd:double"/>
	<xsd:element name="SepMH" nillable="true" type="xsd:double"/>
	<xsd:element name="OctMH" nillable="true" type="xsd:double"/>
	<xsd:element name="NovMH" nillable="true" type="xsd:double"/>
	<xsd:element name="DecMH" nillable="true" type="xsd:double"/>
	<xsd:element name="ActivityDisplayName" type="xsd:string"/>
	<xsd:element name="UnitCategory" type="xsd:string"/>
	<xsd:element name="UnitMultiplier" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralLaborCost" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralOverheadAndProfit" nillable="true" type="xsd:double"/>
	<xsd:element name="TechnicalPricingTable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:TechActivity" minOccurs="0"/>
				<xsd:element ref="my:TechQuantity" minOccurs="0"/>
				<xsd:element ref="my:TechUnit" minOccurs="0"/>
				<xsd:element ref="my:TechMH" minOccurs="0"/>
				<xsd:element ref="my:TechTravelPerVisit" minOccurs="0"/>
				<xsd:element ref="my:TechJanFreq" minOccurs="0"/>
				<xsd:element ref="my:TechFebFreq" minOccurs="0"/>
				<xsd:element ref="my:TechMarFreq" minOccurs="0"/>
				<xsd:element ref="my:TechAprFreq" minOccurs="0"/>
				<xsd:element ref="my:TechMayFreq" minOccurs="0"/>
				<xsd:element ref="my:TechJunFreq" minOccurs="0"/>
				<xsd:element ref="my:TechJulFreq" minOccurs="0"/>
				<xsd:element ref="my:TechAugFreq" minOccurs="0"/>
				<xsd:element ref="my:TechSepFreq" minOccurs="0"/>
				<xsd:element ref="my:TechOctFreq" minOccurs="0"/>
				<xsd:element ref="my:TechNovFreq" minOccurs="0"/>
				<xsd:element ref="my:TechDecFreq" minOccurs="0"/>
				<xsd:element ref="my:TechTotalFreq" minOccurs="0"/>
				<xsd:element ref="my:TechTotalMH" minOccurs="0"/>
				<xsd:element ref="my:TechMaterialMarkup" minOccurs="0"/>
				<xsd:element ref="my:TechUnitPrice" minOccurs="0"/>
				<xsd:element ref="my:TechAnnualPrice" minOccurs="0"/>
				<xsd:element ref="my:TechLaborCost" minOccurs="0"/>
				<xsd:element ref="my:TechOverheadAndProfit" minOccurs="0"/>
				<xsd:element ref="my:TechLaborPrice" minOccurs="0"/>
				<xsd:element ref="my:TechMaterialCost" minOccurs="0"/>
				<xsd:element ref="my:TechMaterialUnitPrice" minOccurs="0"/>
				<xsd:element ref="my:TechMaterialAnnualCost" minOccurs="0"/>
				<xsd:element ref="my:TechLaborAnnualCost" minOccurs="0"/>
				<xsd:element ref="my:TechLaborUnitPrice" minOccurs="0"/>
				<xsd:element ref="my:TechJanMH" minOccurs="0"/>
				<xsd:element ref="my:TechFebMH" minOccurs="0"/>
				<xsd:element ref="my:TechMarMH" minOccurs="0"/>
				<xsd:element ref="my:TechAprMH" minOccurs="0"/>
				<xsd:element ref="my:TechMayMH" minOccurs="0"/>
				<xsd:element ref="my:TechJunMH" minOccurs="0"/>
				<xsd:element ref="my:TechJulMH" minOccurs="0"/>
				<xsd:element ref="my:TechAugMH" minOccurs="0"/>
				<xsd:element ref="my:TechSepMH" minOccurs="0"/>
				<xsd:element ref="my:TechOctMH" minOccurs="0"/>
				<xsd:element ref="my:TechNovMH" minOccurs="0"/>
				<xsd:element ref="my:TechDecMH" minOccurs="0"/>
				<xsd:element ref="my:TechActivityDisplayName" minOccurs="0"/>
				<xsd:element ref="my:TechUnitCategory" minOccurs="0"/>
				<xsd:element ref="my:TechCrewSize" minOccurs="0"/>
				<xsd:element ref="my:TechUnitMultiplier" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TechActivity" type="xsd:string"/>
	<xsd:element name="TechQuantity" nillable="true" type="xsd:double"/>
	<xsd:element name="TechUnit" type="xsd:string"/>
	<xsd:element name="TechMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechTravelPerVisit" type="xsd:string"/>
	<xsd:element name="TechJanFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechFebFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechMarFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechAprFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechMayFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechJunFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechJulFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechAugFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechSepFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechOctFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechNovFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechDecFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechTotalFreq" nillable="true" type="xsd:double"/>
	<xsd:element name="TechTotalMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechMaterialMarkup" nillable="true" type="xsd:double"/>
	<xsd:element name="TechUnitPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="TechAnnualPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="TechLaborCost" nillable="true" type="xsd:double"/>
	<xsd:element name="TechOverheadAndProfit" nillable="true" type="xsd:double"/>
	<xsd:element name="TechLaborPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="TechMaterialCost" nillable="true" type="xsd:double"/>
	<xsd:element name="TechMaterialUnitPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="TechMaterialAnnualCost" nillable="true" type="xsd:double"/>
	<xsd:element name="TechLaborAnnualCost" nillable="true" type="xsd:double"/>
	<xsd:element name="TechLaborUnitPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="TechJanMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechFebMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechMarMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechAprMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechMayMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechJunMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechJulMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechAugMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechSepMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechOctMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechNovMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechDecMH" nillable="true" type="xsd:double"/>
	<xsd:element name="TechActivityDisplayName" type="xsd:string"/>
	<xsd:element name="TechUnitCategory" type="xsd:string"/>
	<xsd:element name="TechCrewSize" nillable="true" type="xsd:double"/>
	<xsd:element name="TechUnitMultiplier" nillable="true" type="xsd:double"/>
	<xsd:element name="ContractTotals">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:GeneralAnnualPrice" minOccurs="0"/>
				<xsd:element ref="my:GeneralAnnualLaborCost" minOccurs="0"/>
				<xsd:element ref="my:GeneralAnnualMaterialCost" minOccurs="0"/>
				<xsd:element ref="my:GeneralCostTotal" minOccurs="0"/>
				<xsd:element ref="my:TechnicalAnnualPrice" minOccurs="0"/>
				<xsd:element ref="my:TechnicalAnnualLaborCost" minOccurs="0"/>
				<xsd:element ref="my:TechnicalAnnualMaterialCost" minOccurs="0"/>
				<xsd:element ref="my:TechnicalCostTotal" minOccurs="0"/>
				<xsd:element ref="my:ContractPrice" minOccurs="0"/>
				<xsd:element ref="my:ContractCost" minOccurs="0"/>
				<xsd:element ref="my:GrossProfit" minOccurs="0"/>
				<xsd:element ref="my:GrossProfitPercent" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GeneralAnnualPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralAnnualLaborCost" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralAnnualMaterialCost" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralCostTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="TechnicalAnnualPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="TechnicalAnnualLaborCost" nillable="true" type="xsd:double"/>
	<xsd:element name="TechnicalAnnualMaterialCost" nillable="true" type="xsd:double"/>
	<xsd:element name="TechnicalCostTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="ContractPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="ContractCost" nillable="true" type="xsd:double"/>
	<xsd:element name="GrossProfit" nillable="true" type="xsd:double"/>
	<xsd:element name="GrossProfitPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralVisitCalculations">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:GeneralWorkDayHours" minOccurs="0"/>
				<xsd:element ref="my:GeneralMHSum" minOccurs="0"/>
				<xsd:element ref="my:GeneralSiteVisits" minOccurs="0"/>
				<xsd:element ref="my:GeneralAverageCrew" minOccurs="0"/>
				<xsd:element ref="my:GeneralCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:GeneralTravel" minOccurs="0"/>
				<xsd:element ref="my:GeneralPercentOfDailyTravel" minOccurs="0"/>
				<xsd:element ref="my:GeneralPercentMHPerMonth" minOccurs="0"/>
				<xsd:element ref="my:GeneralTravelCost" minOccurs="0"/>
				<xsd:element ref="my:GeneralTravelPrice" minOccurs="0"/>
				<xsd:element ref="my:GeneralMonthlyTravel" minOccurs="0"/>
				<xsd:element ref="my:GeneralMHOnSitePerVisit" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GeneralWorkDayHours" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralMHSum">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanMHSum" minOccurs="0"/>
				<xsd:element ref="my:FebMHSum" minOccurs="0"/>
				<xsd:element ref="my:MarMHSum" minOccurs="0"/>
				<xsd:element ref="my:AprMHSum" minOccurs="0"/>
				<xsd:element ref="my:MayMHSum" minOccurs="0"/>
				<xsd:element ref="my:JunMHSum" minOccurs="0"/>
				<xsd:element ref="my:JulMHSum" minOccurs="0"/>
				<xsd:element ref="my:AugMHSum" minOccurs="0"/>
				<xsd:element ref="my:SepMHSum" minOccurs="0"/>
				<xsd:element ref="my:OctMHSum" minOccurs="0"/>
				<xsd:element ref="my:NovMHSum" minOccurs="0"/>
				<xsd:element ref="my:DecMHSum" minOccurs="0"/>
				<xsd:element ref="my:GeneralContractHours" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="FebMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="MarMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="AprMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="MayMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="JunMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="JulMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="AugMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="SepMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="OctMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="NovMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="DecMHSum" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralContractHours" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralSiteVisits">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanVisits" minOccurs="0"/>
				<xsd:element ref="my:FebVisits" minOccurs="0"/>
				<xsd:element ref="my:MarVisits" minOccurs="0"/>
				<xsd:element ref="my:AprVisits" minOccurs="0"/>
				<xsd:element ref="my:MayVisits" minOccurs="0"/>
				<xsd:element ref="my:JunVisits" minOccurs="0"/>
				<xsd:element ref="my:JulVisits" minOccurs="0"/>
				<xsd:element ref="my:AugVisits" minOccurs="0"/>
				<xsd:element ref="my:SepVisits" minOccurs="0"/>
				<xsd:element ref="my:OctVisits" minOccurs="0"/>
				<xsd:element ref="my:NovVisits" minOccurs="0"/>
				<xsd:element ref="my:DecVisits" minOccurs="0"/>
				<xsd:element ref="my:TotalGeneralVisits" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="FebVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="MarVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="AprVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="MayVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="JunVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="JulVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="AugVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="SepVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="OctVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="NovVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="DecVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalGeneralVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralAverageCrew">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanCrew" minOccurs="0"/>
				<xsd:element ref="my:FebCrew" minOccurs="0"/>
				<xsd:element ref="my:MarCrew" minOccurs="0"/>
				<xsd:element ref="my:AprCrew" minOccurs="0"/>
				<xsd:element ref="my:MayCrew" minOccurs="0"/>
				<xsd:element ref="my:JunCrew" minOccurs="0"/>
				<xsd:element ref="my:JulCrew" minOccurs="0"/>
				<xsd:element ref="my:AugCrew" minOccurs="0"/>
				<xsd:element ref="my:SepCrew" minOccurs="0"/>
				<xsd:element ref="my:OctCrew" minOccurs="0"/>
				<xsd:element ref="my:NovCrew" minOccurs="0"/>
				<xsd:element ref="my:DecCrew" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="FebCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="MarCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="AprCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="MayCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="JunCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="JulCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="AugCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="SepCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="OctCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="NovCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="DecCrew" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralCrewVisit">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:FebCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:MarCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:AprCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:MayCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:JunCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:JulCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:AugCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:SepCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:OctCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:NovCrewVisit" minOccurs="0"/>
				<xsd:element ref="my:DecCrewVisit" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="FebCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="MarCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="AprCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="MayCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="JunCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="JulCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="AugCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="SepCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="OctCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="NovCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="DecCrewVisit" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralTravel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanTravel" minOccurs="0"/>
				<xsd:element ref="my:FebTravel" minOccurs="0"/>
				<xsd:element ref="my:MarTravel" minOccurs="0"/>
				<xsd:element ref="my:AprTravel" minOccurs="0"/>
				<xsd:element ref="my:MayTravel" minOccurs="0"/>
				<xsd:element ref="my:JunTravel" minOccurs="0"/>
				<xsd:element ref="my:JulTravel" minOccurs="0"/>
				<xsd:element ref="my:AugTravel" minOccurs="0"/>
				<xsd:element ref="my:SepTravel" minOccurs="0"/>
				<xsd:element ref="my:OctTravel" minOccurs="0"/>
				<xsd:element ref="my:NovTravel" minOccurs="0"/>
				<xsd:element ref="my:DecTravel" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="FebTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="MarTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="AprTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="MayTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="JunTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="JulTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="AugTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="SepTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="OctTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="NovTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="DecTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralPercentOfDailyTravel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:FebPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:MarPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:AprPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:MayPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:JunPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:JulPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:AugPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:SepPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:OctPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:NovPercentTravel" minOccurs="0"/>
				<xsd:element ref="my:DecPercentTravel" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="FebPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="MarPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="AprPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="MayPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="JunPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="JulPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="AugPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="SepPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="OctPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="NovPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="DecPercentTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralPercentMHPerMonth">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanPercent" minOccurs="0"/>
				<xsd:element ref="my:FebPercent" minOccurs="0"/>
				<xsd:element ref="my:MarPercent" minOccurs="0"/>
				<xsd:element ref="my:AprPercent" minOccurs="0"/>
				<xsd:element ref="my:MayPercent" minOccurs="0"/>
				<xsd:element ref="my:JunPercent" minOccurs="0"/>
				<xsd:element ref="my:JulPercent" minOccurs="0"/>
				<xsd:element ref="my:AugPercent" minOccurs="0"/>
				<xsd:element ref="my:SepPercent" minOccurs="0"/>
				<xsd:element ref="my:OctPercent" minOccurs="0"/>
				<xsd:element ref="my:NovPercent" minOccurs="0"/>
				<xsd:element ref="my:DecPercent" minOccurs="0"/>
				<xsd:element ref="my:TotalAnnualPercent" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="FebPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="MarPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="AprPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="MayPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="JunPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="JulPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="AugPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="SepPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="OctPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="NovPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="DecPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalAnnualPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralTravelCost" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralTravelPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralMonthlyTravel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanMTravel" minOccurs="0"/>
				<xsd:element ref="my:FebMTravel" minOccurs="0"/>
				<xsd:element ref="my:MarMTravel" minOccurs="0"/>
				<xsd:element ref="my:AprMTravel" minOccurs="0"/>
				<xsd:element ref="my:MayMTravel" minOccurs="0"/>
				<xsd:element ref="my:JunMTravel" minOccurs="0"/>
				<xsd:element ref="my:JulMTravel" minOccurs="0"/>
				<xsd:element ref="my:AugMTravel" minOccurs="0"/>
				<xsd:element ref="my:SepMTravel" minOccurs="0"/>
				<xsd:element ref="my:OctMTravel" minOccurs="0"/>
				<xsd:element ref="my:NovMTravel" minOccurs="0"/>
				<xsd:element ref="my:DecMTravel" minOccurs="0"/>
				<xsd:element ref="my:TotalMonthlyTravel" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="FebMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="MarMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="AprMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="MayMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="JunMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="JulMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="AugMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="SepMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="OctMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="NovMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="DecMTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalMonthlyTravel" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralMHOnSitePerVisit">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanPV" minOccurs="0"/>
				<xsd:element ref="my:FebPV" minOccurs="0"/>
				<xsd:element ref="my:MarPV" minOccurs="0"/>
				<xsd:element ref="my:AprPV" minOccurs="0"/>
				<xsd:element ref="my:MayPV" minOccurs="0"/>
				<xsd:element ref="my:JunPV" minOccurs="0"/>
				<xsd:element ref="my:JulPV" minOccurs="0"/>
				<xsd:element ref="my:AugPV" minOccurs="0"/>
				<xsd:element ref="my:SepPV" minOccurs="0"/>
				<xsd:element ref="my:OctPV" minOccurs="0"/>
				<xsd:element ref="my:NovPV" minOccurs="0"/>
				<xsd:element ref="my:DecPV" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanPV" nillable="true" type="xsd:double"/>
	<xsd:element name="FebPV" nillable="true" type="xsd:double"/>
	<xsd:element name="MarPV" nillable="true" type="xsd:double"/>
	<xsd:element name="AprPV" nillable="true" type="xsd:double"/>
	<xsd:element name="MayPV" nillable="true" type="xsd:double"/>
	<xsd:element name="JunPV" nillable="true" type="xsd:double"/>
	<xsd:element name="JulPV" nillable="true" type="xsd:double"/>
	<xsd:element name="AugPV" nillable="true" type="xsd:double"/>
	<xsd:element name="SepPV" nillable="true" type="xsd:double"/>
	<xsd:element name="OctPV" type="xsd:string"/>
	<xsd:element name="NovPV" nillable="true" type="xsd:double"/>
	<xsd:element name="DecPV" nillable="true" type="xsd:double"/>
	<xsd:element name="TakeOff">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:TakeOffEntry" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:TakeOffDetail" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TakeOffEntry">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:TakeOffType" minOccurs="0"/>
				<xsd:element ref="my:TakeOffActivity" minOccurs="0"/>
				<xsd:element ref="my:TakeOffActivityUnit" minOccurs="0"/>
				<xsd:element ref="my:TakeOffActivityMultiplier" minOccurs="0"/>
				<xsd:element ref="my:TakeOffActivityTotal" minOccurs="0"/>
				<xsd:element ref="my:TakeOffAreaTotal" minOccurs="0"/>
				<xsd:element ref="my:TakeOffLinearTotal" minOccurs="0"/>
				<xsd:element ref="my:TakeOffCountTotal" minOccurs="0"/>
				<xsd:element ref="my:TakeOffVolumeTotal" minOccurs="0"/>
				<xsd:element ref="my:RelatedActivity" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TakeOffType" type="xsd:string"/>
	<xsd:element name="TakeOffActivity" type="xsd:string"/>
	<xsd:element name="TakeOffActivityUnit" type="xsd:string"/>
	<xsd:element name="TakeOffActivityMultiplier" nillable="true" type="xsd:double"/>
	<xsd:element name="TakeOffActivityTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="TakeOffAreaTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="TakeOffLinearTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="TakeOffCountTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="TakeOffVolumeTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="RelatedActivity" type="xsd:string"/>
	<xsd:element name="TakeOffDetail">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:GeneralArea" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:GeneralLinear" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:GeneralCount" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:GeneralVolume" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GeneralArea">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:AreaTakeOffTypeTable" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:AreaActivityTotal" minOccurs="0"/>
				<xsd:element ref="my:GeneralAreaActivity" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AreaTakeOffTypeTable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:AreaLength" minOccurs="0"/>
				<xsd:element ref="my:AreaWidth" minOccurs="0"/>
				<xsd:element ref="my:AreaTotal" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AreaLength" nillable="true" type="xsd:double"/>
	<xsd:element name="AreaWidth" nillable="true" type="xsd:double"/>
	<xsd:element name="AreaTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="AreaActivityTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralAreaActivity" type="xsd:string"/>
	<xsd:element name="GeneralLinear">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:LinearTakeOffTypeTable" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:LinearActivityTotal" minOccurs="0"/>
				<xsd:element ref="my:GeneralLinearActivity" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LinearTakeOffTypeTable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:LinearLength" minOccurs="0"/>
				<xsd:element ref="my:LinearQuantity" minOccurs="0"/>
				<xsd:element ref="my:LinearTotal" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LinearLength" nillable="true" type="xsd:double"/>
	<xsd:element name="LinearQuantity" nillable="true" type="xsd:double"/>
	<xsd:element name="LinearTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="LinearActivityTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralLinearActivity" type="xsd:string"/>
	<xsd:element name="GeneralCount">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:CountTakeOffTypeTable" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:CountActivityTotal" minOccurs="0"/>
				<xsd:element ref="my:GeneralCountActivity" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CountTakeOffTypeTable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:CountQuantityTotal" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CountQuantityTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="CountActivityTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralCountActivity" type="xsd:string"/>
	<xsd:element name="GeneralVolume">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:VolumeActivityTotal" minOccurs="0"/>
				<xsd:element ref="my:VolumeTakeOffTypeTable" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:GeneralVolumeActivity" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VolumeActivityTotal" nillable="true" type="xsd:double"/>
	<xsd:element name="VolumeTakeOffTypeTable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:VolumeLength" minOccurs="0"/>
				<xsd:element ref="my:VolumeWidth" minOccurs="0"/>
				<xsd:element ref="my:DepthInches" minOccurs="0"/>
				<xsd:element ref="my:VolumeTotalCF" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VolumeLength" nillable="true" type="xsd:double"/>
	<xsd:element name="VolumeWidth" nillable="true" type="xsd:double"/>
	<xsd:element name="DepthInches" nillable="true" type="xsd:double"/>
	<xsd:element name="VolumeTotalCF" nillable="true" type="xsd:double"/>
	<xsd:element name="GeneralVolumeActivity" type="xsd:string"/>
	<xsd:element name="ShowActivities" type="xsd:string"/>
</xsd:schema>