realtimelandscape/_extracted/Pricing Table Form 4.16.12/Choices Data Connection.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Activity_x0020_Category" minOccurs="0" maxOccurs="1"></xsd:element>
				<xsd:element ref="Unit_x0020_Category" minOccurs="0" maxOccurs="1"></xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SharePointListChoice_RW">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute ref="DisplayName"></xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Activity_x0020_Category">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SharePointListChoice_RW" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Unit_x0020_Category">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SharePointListChoice_RW" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name="DisplayName" type="xsd:string"></xsd:attribute>
</xsd:schema>
