realtimelandscape/_extracted/Pricing Table Form 4.16.12/schema4.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls">
	<xsd:import namespace="http://schemas.microsoft.com/office/2009/documentManagement/types" schemaLocation="schema2.xsd"/>
	<xsd:element name="SharePointListItem_RW">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="q:ID" minOccurs="0"/>
				<xsd:element ref="q:Title" minOccurs="0"/>
				<xsd:element ref="q:Author" minOccurs="0"/>
				<xsd:element ref="q:Editor" minOccurs="0"/>
				<xsd:element ref="q:Modified" minOccurs="0"/>
				<xsd:element ref="q:Created" minOccurs="0"/>
				<xsd:element ref="q:Activity_x0020_Category" minOccurs="0"/>
				<xsd:element ref="q:Unit" minOccurs="0"/>
				<xsd:element ref="q:Unit_x0020_Multiplier" minOccurs="0"/>
				<xsd:element ref="q:Unit_x0020_Category" minOccurs="0"/>
				<xsd:element ref="q:Production_x0020_Rate" minOccurs="0"/>
				<xsd:element ref="q:Material_x0020_Rate" minOccurs="0"/>
				<xsd:element ref="q:Description" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ID" type="dms:CounterType" ma:displayName="ID" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Title" type="dms:TextType" ma:displayName="Title" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Author" type="dms:TextType" ma:displayName="Created By" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Editor" type="dms:TextType" ma:displayName="Modified By" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Modified" type="dms:DateOnlyType" ma:displayName="Modified" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Created" type="dms:DateOnlyType" ma:displayName="Created" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Activity_x0020_Category" type="dms:TextType" ma:displayName="Activity Category" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Unit" type="dms:TextType" ma:displayName="Unit" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Unit_x0020_Multiplier" type="dms:NumberType" ma:displayName="Unit Multiplier" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Unit_x0020_Category" type="dms:TextType" ma:displayName="Unit Category" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Production_x0020_Rate" type="dms:NumberType" ma:displayName="Production Rate" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Material_x0020_Rate" type="dms:NumberType" ma:displayName="Material Rate" ma:readOnly="false" nillable="true"/>
	<xsd:element name="Description" type="dms:TextType" ma:displayName="Description" ma:readOnly="false" nillable="true"/>
</xsd:schema>