realtimelandscape/_extracted/Contract Summary Report/Contract Library3.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls">
	<xsd:import namespace="http://schemas.microsoft.com/office/2009/documentManagement/types" schemaLocation="Contract Library2.xsd"></xsd:import>
	<xsd:element name="SharePointListItem_RW">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="d:Title" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Contract_x0020_Status" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Contract_x0020_Expiration_x0020_Date" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Contract_x0020_Start_x0020_Date" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Project_x0020_Display_x0020_Name" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Project_x0020_ID" minOccurs="0"></xsd:element>
				<xsd:element ref="d:General_x0020_Annual_x0020_Price" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Technical_x0020_Annual_x0020_Price" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Technical_x0020_Annual_x0020_Material_x0020_Cost" minOccurs="0"></xsd:element>
				<xsd:element ref="d:General_x0020_Annual_x0020_Material_x0020_Cost" minOccurs="0"></xsd:element>
				<xsd:element ref="d:General_x0020_Contract_x0020_Hours" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Jan_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Feb_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Mar_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Apr_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:May_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Jun_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Jul_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Aug_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Sep_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Oct_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Nov_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Dec_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Contract_x0020_ID" minOccurs="0"></xsd:element>
				<xsd:element ref="d:General_x0020_Annual_x0020_Labor_x0020_Cost" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Technical_x0020_Annual_x0020_Labor_x0020_Cost" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Total_x0020_General_x0020_Visits" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Jan_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Feb_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Mar_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Apr_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:May_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Jun_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Jul_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Aug_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Sep_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Oct_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Nov_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Dec_x0020_MHSum" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Jan_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Feb_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Mar_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Apr_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:May_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Jun_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Jul_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Aug_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Sep_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Oct_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Nov_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Dec_x0020_PV" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Contract_x0020_Price" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Contract_x0020_Cost" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Gross_x0020_Profit_x0020_Percent" minOccurs="0"></xsd:element>
				<xsd:element ref="d:ID" minOccurs="0"></xsd:element>
				<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
			</xsd:sequence>
			<xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Title" ma:displayName="Title" ma:readOnly="false" ma:allowDeletion="true">
		<xsd:simpleType>
			<xsd:restriction base="dms:TextType">
				<xsd:maxLength value="255"></xsd:maxLength>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Contract_x0020_Status" type="dms:ChoiceType" ma:displayName="Contract Status" ma:readOnly="false" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Contract_x0020_Expiration_x0020_Date" type="dms:DateOnlyType" ma:displayName="Contract Expiration Date" ma:readOnly="false" nillable="true" ma:formatCategory="datetime" ma:formatSpec="dateFormat:Short Date;timeFormat:none;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Contract_x0020_Start_x0020_Date" ma:displayName="Contract Start Date" ma:readOnly="false" ma:allowDeletion="true">
		<xsd:simpleType>
			<xsd:restriction base="dms:TextType">
				<xsd:maxLength value="255"></xsd:maxLength>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Project_x0020_Display_x0020_Name" ma:displayName="Project Display Name" ma:readOnly="True" ma:allowDeletion="true">
		<xsd:simpleType>
			<xsd:restriction base="dms:TextType">
				<xsd:maxLength value="255"></xsd:maxLength>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Project_x0020_ID" ma:displayName="Project ID" ma:readOnly="True" ma:allowDeletion="true">
		<xsd:simpleType>
			<xsd:restriction base="dms:TextType">
				<xsd:maxLength value="255"></xsd:maxLength>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="General_x0020_Annual_x0020_Price" type="dms:NumberType" ma:displayName="General Annual Price" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Technical_x0020_Annual_x0020_Price" type="dms:NumberType" ma:displayName="Technical Annual Price" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Technical_x0020_Annual_x0020_Material_x0020_Cost" type="dms:NumberType" ma:displayName="Technical Annual Material Cost" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="General_x0020_Annual_x0020_Material_x0020_Cost" type="dms:NumberType" ma:displayName="General Annual Material Cost" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="General_x0020_Contract_x0020_Hours" type="dms:NumberType" ma:displayName="General Contract Hours" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Jan_x0020_Percent" type="dms:NumberType" ma:displayName="Jan Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Feb_x0020_Percent" type="dms:NumberType" ma:displayName="Feb Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Mar_x0020_Percent" type="dms:NumberType" ma:displayName="Mar Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Apr_x0020_Percent" type="dms:NumberType" ma:displayName="Apr Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="May_x0020_Percent" type="dms:NumberType" ma:displayName="May Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Jun_x0020_Percent" type="dms:NumberType" ma:displayName="Jun Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Jul_x0020_Percent" type="dms:NumberType" ma:displayName="Jul Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Aug_x0020_Percent" type="dms:NumberType" ma:displayName="Aug Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Sep_x0020_Percent" type="dms:NumberType" ma:displayName="Sep Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Oct_x0020_Percent" type="dms:NumberType" ma:displayName="Oct Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Nov_x0020_Percent" type="dms:NumberType" ma:displayName="Nov Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Dec_x0020_Percent" type="dms:NumberType" ma:displayName="Dec Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Contract_x0020_ID" type="dms:NumberType" ma:displayName="Contract ID" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="General_x0020_Annual_x0020_Labor_x0020_Cost" type="dms:NumberType" ma:displayName="General Annual Labor Cost" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Technical_x0020_Annual_x0020_Labor_x0020_Cost" type="dms:NumberType" ma:displayName="Technical Annual Labor Cost" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Total_x0020_General_x0020_Visits" type="dms:NumberType" ma:displayName="Total General Visits" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Jan_x0020_MHSum" type="dms:NumberType" ma:displayName="Jan MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Feb_x0020_MHSum" type="dms:NumberType" ma:displayName="Feb MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Mar_x0020_MHSum" type="dms:NumberType" ma:displayName="Mar MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Apr_x0020_MHSum" type="dms:NumberType" ma:displayName="Apr MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="May_x0020_MHSum" type="dms:NumberType" ma:displayName="May MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Jun_x0020_MHSum" type="dms:NumberType" ma:displayName="Jun MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Jul_x0020_MHSum" type="dms:NumberType" ma:displayName="Jul MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Aug_x0020_MHSum" type="dms:NumberType" ma:displayName="Aug MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Sep_x0020_MHSum" type="dms:NumberType" ma:displayName="Sep MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Oct_x0020_MHSum" type="dms:NumberType" ma:displayName="Oct MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Nov_x0020_MHSum" type="dms:NumberType" ma:displayName="Nov MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Dec_x0020_MHSum" type="dms:NumberType" ma:displayName="Dec MHSum" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Jan_x0020_PV" type="dms:NumberType" ma:displayName="Jan PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Feb_x0020_PV" type="dms:NumberType" ma:displayName="Feb PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Mar_x0020_PV" type="dms:NumberType" ma:displayName="Mar PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Apr_x0020_PV" type="dms:NumberType" ma:displayName="Apr PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="May_x0020_PV" type="dms:NumberType" ma:displayName="May PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Jun_x0020_PV" type="dms:NumberType" ma:displayName="Jun PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Jul_x0020_PV" type="dms:NumberType" ma:displayName="Jul PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Aug_x0020_PV" type="dms:NumberType" ma:displayName="Aug PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Sep_x0020_PV" type="dms:NumberType" ma:displayName="Sep PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Oct_x0020_PV" ma:displayName="Oct PV" ma:readOnly="True" ma:allowDeletion="true">
		<xsd:simpleType>
			<xsd:restriction base="dms:TextType">
				<xsd:maxLength value="255"></xsd:maxLength>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Nov_x0020_PV" type="dms:NumberType" ma:displayName="Nov PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Dec_x0020_PV" type="dms:NumberType" ma:displayName="Dec PV" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Contract_x0020_Price" type="dms:NumberType" ma:displayName="Contract Price" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Contract_x0020_Cost" type="dms:NumberType" ma:displayName="Contract Cost" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Gross_x0020_Profit_x0020_Percent" type="dms:NumberType" ma:displayName="Gross Profit Percent" ma:readOnly="True" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:auto;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="ID" type="dms:CounterType" ma:displayName="ID" ma:readOnly="True" nillable="true" ma:allowDeletion="true"></xsd:element>
</xsd:schema>
