realtimelandscape/_extracted/Contract Summary Report/myschema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2003/myXSD/2012-04-12T18:16:47" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:my="http://schemas.microsoft.com/office/infopath/2003/myXSD/2012-04-12T18:16:47" xmlns:xd="http://schemas.microsoft.com/office/infopath/2003" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="myFields">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:ActiveContracts" minOccurs="0"/>
				<xsd:element ref="my:PendingContracts" minOccurs="0"/>
			</xsd:sequence>
			<xsd:anyAttribute processContents="lax" namespace="http://www.w3.org/XML/1998/namespace"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ActiveContracts">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:SumPriceActiveContract" minOccurs="0"/>
				<xsd:element ref="my:CountActiveContracts" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SumPriceActiveContract" nillable="true" type="xsd:double"/>
	<xsd:element name="CountActiveContracts" nillable="true" type="xsd:double"/>
	<xsd:element name="PendingContracts">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:SumPricePendingContracts" minOccurs="0"/>
				<xsd:element ref="my:CountPendingContracts" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SumPricePendingContracts" nillable="true" type="xsd:double"/>
	<xsd:element name="CountPendingContracts" nillable="true" type="xsd:double"/>
</xsd:schema>