realtimelandscape/_extracted/Contract Activation Initiation Form 4.16.12/qfschema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls"><xsd:import namespace="http://schemas.microsoft.com/office/2009/documentManagement/types" schemaLocation="typeschema.xsd"/><xsd:element name="SharePointListItem_RW"><xsd:complexType><xsd:sequence><xsd:element ref="q:ContractStartDate" minOccurs="0"/><xsd:element ref="q:ContractExpirationDate" minOccurs="0"/><xsd:element ref="q:ScheduleTask" minOccurs="0"/><xsd:element ref="q:InitialVisitStartDateandTime" minOccurs="0"/><xsd:element ref="q:InitialVisitStopDateandTime" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="ContractStartDate" type="dms:DateOnlyType" ma:displayName="Contract Start Date" ma:readOnly="false" nillable="true"/><xsd:element name="ContractExpirationDate" type="dms:DateOnlyType" ma:displayName="Contract Expiration Date" ma:readOnly="false" nillable="true"/><xsd:element name="ScheduleTask" type="dms:TextType" ma:displayName="Schedule Task" ma:readOnly="false" nillable="true"/><xsd:element name="InitialVisitStartDateandTime" type="dms:DateOnlyType" ma:displayName="Initial Visit Start Date and Time" ma:readOnly="false" nillable="true"/><xsd:element name="InitialVisitStopDateandTime" type="dms:DateOnlyType" ma:displayName="Initial Visit Stop Date and Time" ma:readOnly="false" nillable="true"/></xsd:schema>
