realtimelandscape/_extracted/Workorder Form Foundation 4.12.12/myschema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2003/myXSD/2012-02-02T17:37:18" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:my="http://schemas.microsoft.com/office/infopath/2003/myXSD/2012-02-02T17:37:18" xmlns:xd="http://schemas.microsoft.com/office/infopath/2003" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="myFields">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Project" minOccurs="0"/>
				<xsd:element ref="my:ProjectDisplayName" minOccurs="0"/>
				<xsd:element ref="my:RoundTrip" minOccurs="0"/>
				<xsd:element ref="my:WorkorderNotes" minOccurs="0"/>
				<xsd:element ref="my:TotalManHours" minOccurs="0"/>
				<xsd:element ref="my:CrewSize" minOccurs="0"/>
				<xsd:element ref="my:TotalVisits" minOccurs="0"/>
				<xsd:element ref="my:TotalTravelHours" minOccurs="0"/>
				<xsd:element ref="my:AverageHourlyRate" minOccurs="0"/>
				<xsd:element ref="my:PriceSubtotal" minOccurs="0"/>
				<xsd:element ref="my:TravelPrice" minOccurs="0"/>
				<xsd:element ref="my:TotalWorkorderPrice" minOccurs="0"/>
				<xsd:element ref="my:TotalWorkorderCost" minOccurs="0"/>
				<xsd:element ref="my:TotalWorkorderProfit" minOccurs="0"/>
				<xsd:element ref="my:PercentProfit" minOccurs="0"/>
				<xsd:element ref="my:WorkDayHours" minOccurs="0"/>
				<xsd:element ref="my:OnsiteCrewHours" minOccurs="0"/>
				<xsd:element ref="my:TotalVisitsRoundedUp" minOccurs="0"/>
				<xsd:element ref="my:ProjectID" minOccurs="0"/>
				<xsd:element ref="my:PricingTable" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="my:numID" minOccurs="0"/>
				<xsd:element ref="my:strFilename" minOccurs="0"/>
				<xsd:element ref="my:WorkorderID" minOccurs="0"/>
				<xsd:element ref="my:IncludedWork" minOccurs="0"/>
				<xsd:element ref="my:WorkorderDescription" minOccurs="0"/>
				<xsd:element ref="my:ShowActivities" minOccurs="0"/>
			</xsd:sequence>
			<xsd:anyAttribute processContents="lax" namespace="http://www.w3.org/XML/1998/namespace"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Project" type="xsd:string"/>
	<xsd:element name="ProjectDisplayName" type="xsd:string"/>
	<xsd:element name="RoundTrip" type="xsd:string"/>
	<xsd:element name="WorkorderNotes" type="xsd:string"/>
	<xsd:element name="TotalManHours" nillable="true" type="xsd:double"/>
	<xsd:element name="CrewSize" type="xsd:double"/>
	<xsd:element name="TotalVisits" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalTravelHours" nillable="true" type="xsd:double"/>
	<xsd:element name="AverageHourlyRate" nillable="true" type="xsd:double"/>
	<xsd:element name="PriceSubtotal" nillable="true" type="xsd:double"/>
	<xsd:element name="TravelPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalWorkorderPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalWorkorderCost" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalWorkorderProfit" nillable="true" type="xsd:double"/>
	<xsd:element name="PercentProfit" nillable="true" type="xsd:double"/>
	<xsd:element name="WorkDayHours" nillable="true" type="xsd:double"/>
	<xsd:element name="OnsiteCrewHours" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalVisitsRoundedUp" nillable="true" type="xsd:double"/>
	<xsd:element name="ProjectID" type="xsd:string"/>
	<xsd:element name="PricingTable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Activity" minOccurs="0"/>
				<xsd:element ref="my:Description" minOccurs="0"/>
				<xsd:element ref="my:ActivityNotes" minOccurs="0"/>
				<xsd:element ref="my:PlantSelection" minOccurs="0"/>
				<xsd:element ref="my:Quantity" minOccurs="0"/>
				<xsd:element ref="my:Unit" minOccurs="0"/>
				<xsd:element ref="my:ManHoursPerUnit" minOccurs="0"/>
				<xsd:element ref="my:MaterialCostPerUnit" minOccurs="0"/>
				<xsd:element ref="my:ManualMaterialCostPerUnit" minOccurs="0"/>
				<xsd:element ref="my:LaborCostPerManHour" minOccurs="0"/>
				<xsd:element ref="my:OverheadAndProfitPerManHour" minOccurs="0"/>
				<xsd:element ref="my:LaborPricePerManHour" minOccurs="0"/>
				<xsd:element ref="my:MaterialMarkupPercent" minOccurs="0"/>
				<xsd:element ref="my:TotalLaborHours" minOccurs="0"/>
				<xsd:element ref="my:PricePerUnit" minOccurs="0"/>
				<xsd:element ref="my:TotalPrice" minOccurs="0"/>
				<xsd:element ref="my:LiveMaterialWarrantyPercent" minOccurs="0"/>
				<xsd:element ref="my:TotalMaterialCost" minOccurs="0"/>
				<xsd:element ref="my:TotalMaterialPrice" minOccurs="0"/>
				<xsd:element ref="my:TotalLaborCost" minOccurs="0"/>
				<xsd:element ref="my:TotalLaborPrice" minOccurs="0"/>
				<xsd:element ref="my:MaterialMarkup" minOccurs="0"/>
				<xsd:element ref="my:WarrantyMarkup" minOccurs="0"/>
				<xsd:element ref="my:ActivityDisplayName" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Activity" type="xsd:string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="ActivityNotes" type="xsd:string"/>
	<xsd:element name="PlantSelection" type="xsd:string"/>
	<xsd:element name="Quantity" nillable="true" type="xsd:double"/>
	<xsd:element name="Unit" type="xsd:string"/>
	<xsd:element name="ManHoursPerUnit" nillable="true" type="xsd:double"/>
	<xsd:element name="MaterialCostPerUnit" nillable="true" type="xsd:double"/>
	<xsd:element name="ManualMaterialCostPerUnit" nillable="true" type="xsd:double"/>
	<xsd:element name="LaborCostPerManHour" nillable="true" type="xsd:double"/>
	<xsd:element name="OverheadAndProfitPerManHour" nillable="true" type="xsd:double"/>
	<xsd:element name="LaborPricePerManHour" nillable="true" type="xsd:double"/>
	<xsd:element name="MaterialMarkupPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalLaborHours" nillable="true" type="xsd:double"/>
	<xsd:element name="PricePerUnit" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="LiveMaterialWarrantyPercent" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalMaterialCost" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalMaterialPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalLaborCost" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalLaborPrice" nillable="true" type="xsd:double"/>
	<xsd:element name="MaterialMarkup" nillable="true" type="xsd:double"/>
	<xsd:element name="WarrantyMarkup" nillable="true" type="xsd:double"/>
	<xsd:element name="ActivityDisplayName" type="xsd:string"/>
	<xsd:element name="numID" nillable="true" type="xsd:double"/>
	<xsd:element name="strFilename" type="xsd:string"/>
	<xsd:element name="WorkorderID" nillable="true" type="xsd:double"/>
	<xsd:element name="IncludedWork" nillable="true" type="xsd:boolean"/>
	<xsd:element name="WorkorderDescription" type="xsd:string"/>
	<xsd:element name="ShowActivities" type="xsd:string"/>
</xsd:schema>