realtimelandscape/_extracted/Workorder Form Foundation 4.12.12/Plant List4.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls">
	<xsd:import namespace="http://schemas.microsoft.com/office/2009/documentManagement/types" schemaLocation="Plant List2.xsd"></xsd:import>
	<xsd:element name="SharePointListItem_RW">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="q:Botanical_x0020_Name" minOccurs="0"></xsd:element>
				<xsd:element ref="q:Common_x0020_Name" minOccurs="0"></xsd:element>
				<xsd:element ref="q:ID" minOccurs="0"></xsd:element>
				<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
			</xsd:sequence>
			<xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Botanical_x0020_Name" type="dms:TextType" ma:displayName="Botanical Name" ma:readOnly="false" nillable="true"></xsd:element>
	<xsd:element name="Common_x0020_Name" type="dms:TextType" ma:displayName="Common Name" ma:readOnly="false" nillable="true"></xsd:element>
	<xsd:element name="ID" type="dms:CounterType" ma:displayName="ID" ma:readOnly="false" nillable="true"></xsd:element>
</xsd:schema>
