realtimelandscape/_extracted/Workorder Form Foundation 4.12.12/Pricing Table3.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls">
	<xsd:import namespace="http://schemas.microsoft.com/office/2009/documentManagement/types" schemaLocation="Pricing Table2.xsd"></xsd:import>
	<xsd:element name="SharePointListItem_RW">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="d:Title" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Activity_x0020_Category" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Unit" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Unit_x0020_Multiplier" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Unit_x0020_Category" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Production_x0020_Rate" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Material_x0020_Rate" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Description" minOccurs="0"></xsd:element>
				<xsd:element ref="d:Specification" minOccurs="0"></xsd:element>
				<xsd:element ref="d:ID" minOccurs="0"></xsd:element>
				<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
			</xsd:sequence>
			<xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Title" ma:displayName="Title" ma:readOnly="false" ma:allowDeletion="true">
		<xsd:simpleType>
			<xsd:restriction base="dms:TextType">
				<xsd:maxLength value="255"></xsd:maxLength>
				<xsd:minLength value="1"></xsd:minLength>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Activity_x0020_Category" type="dms:ChoiceType" ma:displayName="Activity Category" ma:readOnly="false" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Unit" ma:displayName="Unit" ma:readOnly="false" ma:allowDeletion="true">
		<xsd:simpleType>
			<xsd:restriction base="dms:TextType">
				<xsd:maxLength value="255"></xsd:maxLength>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Unit_x0020_Multiplier" type="dms:NumberType" ma:displayName="Unit Multiplier" ma:readOnly="false" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:2;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Unit_x0020_Category" type="dms:ChoiceType" ma:displayName="Unit Category" ma:readOnly="false" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Production_x0020_Rate" type="dms:NumberType" ma:displayName="Production Rate" ma:readOnly="false" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:3;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Material_x0020_Rate" type="dms:NumberType" ma:displayName="Material Rate" ma:readOnly="false" nillable="true" ma:formatCategory="number" ma:formatSpec="numDigits:3;negativeOrder:1;" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="Description" ma:displayName="Description" ma:readOnly="false" ma:allowDeletion="true">
		<xsd:simpleType>
			<xsd:restriction base="dms:TextType">
				<xsd:maxLength value="255"></xsd:maxLength>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Specification" type="dms:NoteRichType" ma:displayName="Specification" ma:readOnly="false" ma:allowDeletion="true"></xsd:element>
	<xsd:element name="ID" type="dms:CounterType" ma:displayName="ID" ma:readOnly="True" nillable="true" ma:allowDeletion="true"></xsd:element>
</xsd:schema>
