realtimelandscape/_extracted/MH Report Foundation 4.12.12/myschema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2003/myXSD/2011-12-12T16:30:10" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:pc="http://schemas.microsoft.com/office/infopath/2007/PartnerControls" xmlns:ma="http://schemas.microsoft.com/office/2009/metadata/properties/metaAttributes" xmlns:d="http://schemas.microsoft.com/office/infopath/2009/WSSList/dataFields" xmlns:q="http://schemas.microsoft.com/office/infopath/2009/WSSList/queryFields" xmlns:dfs="http://schemas.microsoft.com/office/infopath/2003/dataFormSolution" xmlns:dms="http://schemas.microsoft.com/office/2009/documentManagement/types" xmlns:my="http://schemas.microsoft.com/office/infopath/2003/myXSD/2011-12-12T16:30:10" xmlns:xd="http://schemas.microsoft.com/office/infopath/2003" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="myFields">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Jan" minOccurs="0"/>
				<xsd:element ref="my:Feb" minOccurs="0"/>
				<xsd:element ref="my:Mar" minOccurs="0"/>
				<xsd:element ref="my:Apr" minOccurs="0"/>
				<xsd:element ref="my:May" minOccurs="0"/>
				<xsd:element ref="my:Jun" minOccurs="0"/>
				<xsd:element ref="my:Jul" minOccurs="0"/>
				<xsd:element ref="my:Aug" minOccurs="0"/>
				<xsd:element ref="my:Sep" minOccurs="0"/>
				<xsd:element ref="my:Oct" minOccurs="0"/>
				<xsd:element ref="my:Nov" minOccurs="0"/>
				<xsd:element ref="my:Dec" minOccurs="0"/>
				<xsd:element ref="my:WeeklyRevenue" minOccurs="0"/>
				<xsd:element ref="my:Manager" minOccurs="0"/>
				<xsd:element ref="my:CostPerHour" minOccurs="0"/>
				<xsd:element ref="my:TotalPersonnel" minOccurs="0"/>
				<xsd:element ref="my:Date" minOccurs="0"/>
			</xsd:sequence>
			<xsd:anyAttribute processContents="lax" namespace="http://www.w3.org/XML/1998/namespace"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Jan">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JanSum" minOccurs="0"/>
				<xsd:element ref="my:JanAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:JanAuthorized" minOccurs="0"/>
				<xsd:element ref="my:JanLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:JanPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JanSum" nillable="true" type="xsd:double"/>
	<xsd:element name="JanAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="JanAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="JanLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="JanPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Feb">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:FebSum" minOccurs="0"/>
				<xsd:element ref="my:FebAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:FebAuthorized" minOccurs="0"/>
				<xsd:element ref="my:FebLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:FebPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FebSum" nillable="true" type="xsd:double"/>
	<xsd:element name="FebAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="FebAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="FebLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="FebPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Mar">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:MarSum" minOccurs="0"/>
				<xsd:element ref="my:MarAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:MarAuthorized" minOccurs="0"/>
				<xsd:element ref="my:MarLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:MarPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MarSum" nillable="true" type="xsd:double"/>
	<xsd:element name="MarAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="MarAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="MarLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="MarPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Apr">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:AprSum" minOccurs="0"/>
				<xsd:element ref="my:AprAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:AprAuthorized" minOccurs="0"/>
				<xsd:element ref="my:AprLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:AprPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AprSum" nillable="true" type="xsd:double"/>
	<xsd:element name="AprAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="AprAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="AprLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="AprPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="May">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:MaySum" minOccurs="0"/>
				<xsd:element ref="my:MayAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:MayAuthorized" minOccurs="0"/>
				<xsd:element ref="my:MayLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:MayPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MaySum" nillable="true" type="xsd:double"/>
	<xsd:element name="MayAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="MayAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="MayLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="MayPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Jun">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JuneSum" minOccurs="0"/>
				<xsd:element ref="my:JunAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:JunAuthorized" minOccurs="0"/>
				<xsd:element ref="my:JunLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:JunPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JuneSum" nillable="true" type="xsd:double"/>
	<xsd:element name="JunAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="JunAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="JunLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="JunPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Jul">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:JulSum" minOccurs="0"/>
				<xsd:element ref="my:JulAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:JulAuthorized" minOccurs="0"/>
				<xsd:element ref="my:JulLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:JulPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JulSum" nillable="true" type="xsd:double"/>
	<xsd:element name="JulAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="JulAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="JulLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="JulPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Aug">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:AugSum" minOccurs="0"/>
				<xsd:element ref="my:AugAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:AugAuthorized" minOccurs="0"/>
				<xsd:element ref="my:AugLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:AugPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AugSum" nillable="true" type="xsd:double"/>
	<xsd:element name="AugAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="AugAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="AugLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="AugPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Sep">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:SepSum" minOccurs="0"/>
				<xsd:element ref="my:SepAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:SepAuthorized" minOccurs="0"/>
				<xsd:element ref="my:SepLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:SepPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SepSum" nillable="true" type="xsd:double"/>
	<xsd:element name="SepAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="SepAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="SepLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="SepPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Oct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:OctSum" minOccurs="0"/>
				<xsd:element ref="my:OctAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:OctAuthorized" minOccurs="0"/>
				<xsd:element ref="my:OctLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:OctPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OctSum" nillable="true" type="xsd:double"/>
	<xsd:element name="OctAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="OctAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="OctLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="OctPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Nov">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:NovSum" minOccurs="0"/>
				<xsd:element ref="my:NovAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:NovAuthorized" minOccurs="0"/>
				<xsd:element ref="my:NovLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:NovPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NovSum" nillable="true" type="xsd:double"/>
	<xsd:element name="NovAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="NovAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="NovLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="NovPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="Dec">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:DecSum" minOccurs="0"/>
				<xsd:element ref="my:DecAvgPercentage" minOccurs="0"/>
				<xsd:element ref="my:DecAuthorized" minOccurs="0"/>
				<xsd:element ref="my:DecLaborPercentGoal" minOccurs="0"/>
				<xsd:element ref="my:DecPayrollGuideline" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DecSum" nillable="true" type="xsd:double"/>
	<xsd:element name="DecAvgPercentage" nillable="true" type="xsd:double"/>
	<xsd:element name="DecAuthorized" nillable="true" type="xsd:double"/>
	<xsd:element name="DecLaborPercentGoal" nillable="true" type="xsd:double"/>
	<xsd:element name="DecPayrollGuideline" nillable="true" type="xsd:double"/>
	<xsd:element name="WeeklyRevenue" nillable="true" type="xsd:double"/>
	<xsd:element name="Manager" type="xsd:string"/>
	<xsd:element name="CostPerHour" nillable="true" type="xsd:double"/>
	<xsd:element name="TotalPersonnel" nillable="true" type="xsd:double"/>
	<xsd:element name="Date" nillable="true" type="xsd:date"/>
</xsd:schema>